@tailwind components;
@tailwind utilities;


/* General styles */
.max-width {
  @apply max-w-[500px]
}

/* Top user NaBarv */
.user-contain {
  @apply top-0 fixed w-full h-14 min-h-14 max-h-16
    flex items-center justify-center px-1 max-w-[500px]
}
.user-bar {
  @apply rounded-xl w-full h-full grid grid-flow-col 
    justify-between items-center px-5
}
.user-contact {
  @apply  w-28 flex flex-row flex-nowrap justify-between items-center
}
.user-icon {
  @apply w-10 h-10
}

/* Account Box Section */
.copy-icon {
  @apply w-4 h-4
}

.account-bar {
    @apply flex border-mountain-meadow-500 
    w-full bg-gradient-to-br rounded-xl from-mountain-meadow-300
  to-mountain-meadow-500 dark:from-mountain-meadow-500
  dark:to-mountain-meadow-700 flex-col h-full p-4 border gap-y-3;
}

.show-hide {
    @apply flex flex-row flex-nowrap px-2 gap-4 items-center text-center ;
  }
.eye-icon {
    @apply w-4 h-full ;
}
.two-flex {
  @apply flex flex-row flex-nowrap gap-4 items-center text-center ;
}
  
.account-info {
    @apply w-full grid grid-rows-1 gap-x-20 grid-cols-2;
}
.account-num {
  @apply flex flex-col flex-wrap place-items-start;
}

.txt-start {
  @apply text-start
}
.pd-x3 {
  @apply px-3
}
.btn {
    @apply w-2/3 h-4/5 rounded-2xl border border-mountain-meadow-300
}


/* Icon Styles */
.icon-contain {
  @apply flex flex-col justify-center items-center
}
.icon {
  @apply w-8 h-8 text-mountain-meadow-500 dark:text-mountain-meadow-950
}


/* Action Bar */
.action-contain {
  @apply  flex  w-full items-center justify-center px-1
   h-14 min-h-14 max-h-16 
  
}
.action-bar {
  @apply rounded-xl border-mountain-meadow-200 dark:border-mountain-meadow-400  bg-mountain-meadow-50 dark:bg-mountain-meadow-600 w-full h-full
  border grid grid-cols-3 grid-rows-1 items-center justify-items-center
}

/* Service Bar */
.service-contain {
  @apply  flex items-center justify-center w-full px-1 
    h-40
}
.service-bar {
  @apply rounded-xl border-mountain-meadow-200 dark:border-mountain-meadow-400 bg-mountain-meadow-50 dark:bg-mountain-meadow-600 w-full h-full
   border grid grid-cols-3 grid-rows-2 items-center justify-items-center list-none
}

/* Menu Footer */
.menu-contain {
  @apply  flex  w-full items-center justify-center max-w-[500px]
    backdrop-filter bg-opacity-75 px-1 fixed bottom-0 h-14 min-h-14 max-h-16
  
}
.menu-bar {
  @apply rounded-xl border-mountain-meadow-200 dark:border-mountain-meadow-400 bg-mountain-meadow-50 dark:bg-mountain-meadow-600 w-full h-full
  backdrop-filter-none border grid grid-flow-col justify-around items-center
}


/* Skeletons */

/* Icon Styles */
.skel-icon-contain {
  @apply flex flex-col justify-center items-center gap-y-1
}
.icon-txt {
  @apply w-12 h-3 bg-mountain-meadow-300 dark:bg-mountain-meadow-200
}
.icon-box{
  @apply w-4 h-4 bg-mountain-meadow-300 dark:bg-mountain-meadow-200
}
.skel-account-bar {
  @apply flex border-mountain-meadow-500 
  w-full bg-gradient-to-br rounded-xl from-mountain-meadow-400
to-mountain-meadow-600 dark:from-mountain-meadow-500
dark:to-mountain-meadow-700 flex-col h-full p-4 border gap-y-5;
}
.account-icon-txt {
  @apply w-full h-5 bg-mountain-meadow-300 dark:bg-mountain-meadow-200
}
.xxl-icon-txt {
  @apply w-32 h-4 bg-mountain-meadow-300 dark:bg-mountain-meadow-200
}
.xl-icon-txt {
  @apply w-28 h-4 bg-mountain-meadow-300 dark:bg-mountain-meadow-200
}
.lg-icon-txt {
  @apply w-16 h-4 bg-mountain-meadow-300 dark:bg-mountain-meadow-200
}
.skel-icon {
  @apply w-8 h-8 bg-mountain-meadow-300 rounded-full dark:bg-mountain-meadow-200
}
.skel-btn {
  @apply flex justify-center items-center w-2/3 h-full rounded-2xl border border-mountain-meadow-300
}
/* Menu Footer */
.skel-menu-bar {
  @apply rounded-xl border-mountain-meadow-200 dark:border-mountain-meadow-400 bg-mountain-meadow-50
  dark:bg-mountain-meadow-600 w-full h-full border grid grid-flow-col justify-around items-center
}
